.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: sans-serif;
}

.column {
  flex: 1;
  padding: 0 20px;
  border-left: 3px solid green;
}

.column:first-child {
  border-left: none;
}

h2 {
  color: black;
}
strong {
  font-weight: bold;
}
